.footer {
    background-color: rgb(236, 236, 236);
    width: 100%;
    position: fixed;
    bottom: 0;
}

mat-icon{
    margin: 0 1% 0 1%;
}

.playing {
    text-align: center;
}

mat-progress-bar {
    // justify-content: center;
    // display: flex;
    width: 50%;
}